@import '../mixins';
@import '../variables';

.modal-inner {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  z-index: 10;
}//.modal-content-wrapper

.modal-close-btn {
  $design-diff: 50px - 24px;
  position: absolute;
  top: 15px - ( $design-diff/2 );
  right: 15px - ( $design-diff/2 );
  width: 50px;
  height: 50px;
  border-radius: 25px;
  opacity: 0.2;
  background: url('../../images/icons/close-black.svg') no-repeat center;

}//.modal-close

@include media-query(md){

  .modal-close-btn {
    $design-diff: 50px - 24px;
    position: absolute;
    top: 20px - ( $design-diff/2 );
    right: 20px - ( $design-diff/2 );

    &:hover {
      opacity: 0.8;
    }//&:hover

  }//.modal-close
}