@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.navigation-container{
  display: flex;
  align-items: center;
  margin-left: 15px;
  .back-icon-container{
    margin-left:7px;
  }
  img{
    margin-right:15px;
  }
  .navigation-label{
    @include text-setup($white,16px);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-left:5px;
  }

  .home-page-label{
    display: flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
    margin-left: -5px;
  }
}

.back-btn-navigation{
  margin-left: 0px;
  img{
    margin-right:0px;
  }
  .navigation-label{
    margin-left: 12px !important;
  }
}