.navigation-container {
  display: flex;
  align-items: center;
  margin-left: 10px; }
  .navigation-container img {
    margin-right: 20px; }
  .navigation-container .navigation-label {
    color: #ffffff;
    font-size: 16px;
    font-family: "NunitoSans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px; }
