@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

.navigation-container{
  display: flex;
  align-items: center;
  margin-left: 15px;
  img{
    margin-right:15px;
  }
  .navigation-label{
    @include text-setup($white,16px,$font-family);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-left:5px;
  }
}