@import '../../../../../styles/colors.scss';
@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';
.news-article-container {
  padding: 21px 20px 20px 13px;
  border-top: solid 0.5px #dedede;
  position: relative;
  cursor: pointer;
  .news-read-pending {
    width: 7px;
    height: 7px;
    background-color: #ff233e;
    border-radius: 50px;
    position: absolute;
  }
  .news-article-inner-container {
    padding-left: 18px;
    .news-article-header {
      .news-article-header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .news-article-header-top__title {
          @include text-setup($charcoal-grey, 16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
        }
        .news-article-header-top__tags {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 86px;
          height: 25px;
          border-radius: 3px;
          background-color: #EDF6FD;
          @include text-setup($charcoal-grey, 11px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
        }
      }
      .news-article-header-bottom {
        .news-article-header-bottom__date {
          @include text-setup($steel-grey, 12px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.2px;
          margin-top: 2px;
        }
      }
    }
    .news-article-body {
      @include text-setup($charcoal-grey, 14px);
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      margin-top: 10px;
      max-width: 260px;
    }
  }
}
.hide {
  display: none;
}

.news-read-font-weight {
  font-weight: normal !important;
}

@include media-query(md){
  .news-article-body {
    max-width:557px !important;
  }
}