.news-article-container {
  padding: 21px 20px 20px 13px;
  border-top: solid 0.5px #dedede;
  position: relative;
  cursor: pointer; }
  .news-article-container .news-read-pending {
    width: 7px;
    height: 7px;
    background-color: #ff233e;
    border-radius: 50px;
    position: absolute; }
  .news-article-container .news-article-inner-container {
    padding-left: 18px; }
    .news-article-container .news-article-inner-container .news-article-header .news-article-header-top {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .news-article-container .news-article-inner-container .news-article-header .news-article-header-top .news-article-header-top__title {
        color: #404852;
        font-size: 16px;
        font-family: "NunitoSans", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px; }
      .news-article-container .news-article-inner-container .news-article-header .news-article-header-top .news-article-header-top__tags {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 86px;
        height: 25px;
        border-radius: 3px;
        background-color: #EDF6FD;
        color: #404852;
        font-size: 11px;
        font-family: "NunitoSans", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px; }
    .news-article-container .news-article-inner-container .news-article-header .news-article-header-bottom .news-article-header-bottom__date {
      color: #80858a;
      font-size: 12px;
      font-family: "NunitoSans", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      margin-top: 2px; }
    .news-article-container .news-article-inner-container .news-article-body {
      color: #404852;
      font-size: 14px;
      font-family: "NunitoSans", sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      margin-top: 10px;
      max-width: 260px; }

.hide {
  display: none; }

.news-read-font-weight {
  font-weight: normal !important; }

@media screen and (min-width: 768px) {
  .news-article-body {
    max-width: 557px !important; } }
