/*
===========================================
            Animation
===========================================
*/
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animated-background, .history-login-mobile-loader__name-placeholder, .history-login-mobile-loader__date-placeholder, .history-login-loader-container .history-login-desktop-loader__date-placeholder, .history-login-loader-container .history-login-desktop-loader__country-placeholder, .history-login-loader-container .history-login-desktop-loader__ip-placeholder, .history-login-loader-container .history-login-desktop-loader__browser-placeholder {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

.history-login-mobile-loader {
  height: 56.5px;
  display: flex;
  align-items: center;
  border-top: solid 0.5px #dedede; }
  .history-login-mobile-loader__name-placeholder {
    width: 50px;
    height: 10px;
    background-color: #f5f6f8;
    margin-left: 20px;
    margin-right: 20px; }
  .history-login-mobile-loader__date-placeholder {
    width: 130px;
    height: 10px;
    background-color: #f5f6f8; }

.history-login-loader-container {
  width: 100%; }
  .history-login-loader-container .history-login-loader-header {
    display: flex;
    height: 48px;
    background-color: #f8f8f8;
    align-items: center; }
    .history-login-loader-container .history-login-loader-header .header-text {
      font-family: NunitoSans;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #404852; }
    .history-login-loader-container .history-login-loader-header__date-placeholder {
      margin-left: 30px;
      margin-right: 120px; }
    .history-login-loader-container .history-login-loader-header__country-placeholder {
      margin-right: 120px; }
    .history-login-loader-container .history-login-loader-header__ip-placeholder {
      margin-right: 190px; }
  .history-login-loader-container .history-login-desktop-loader {
    display: flex;
    height: 45px;
    align-items: center; }
    .history-login-loader-container .history-login-desktop-loader__date-placeholder {
      width: 126px;
      height: 10px;
      background-color: #f5f6f8;
      margin-left: 30px;
      margin-right: 44px; }
    .history-login-loader-container .history-login-desktop-loader__country-placeholder {
      width: 60px;
      height: 10px;
      background-color: #f5f6f8;
      margin-right: 105px; }
    .history-login-loader-container .history-login-desktop-loader__ip-placeholder {
      width: 95px;
      height: 10px;
      background-color: #f5f6f8;
      margin-right: 105px; }
    .history-login-loader-container .history-login-desktop-loader__browser-placeholder {
      width: 95px;
      height: 10px;
      background-color: #f5f6f8; }
