@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
#main-area-content {
  padding-top: 50px;
  margin-bottom: 0px;
}

@include media-query(md) {
  #main-area-content {
    padding-top: 0px;
    margin-bottom: 40px
  }
}