@import "../../../../styles/variables";

@media screen and ( min-width: map-get( $bp-mobile-first, md ) ) {

  .balance-profile-verification {
    min-height: 528px;
    margin-left: 29px;
    border-radius: 5px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
  }//.balance-profile-verification

}//@media