.verification-success-mobile {
  width: 320px;
  padding: 70px 10px 54px 10px;
  flex-flow: column;
  align-items: center; }
  .verification-success-mobile__icon {
    display: flex; }
  .verification-success-mobile__title {
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #404852;
    margin-top: 30px;
    margin-bottom: 9px; }
  .verification-success-mobile__description {
    font-family: NunitoSans;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.77;
    letter-spacing: 0.2px;
    text-align: center;
    color: #80858a; }
  .verification-success-mobile__actions {
    margin-top: 35px; }
    .verification-success-mobile__actions .action-btn {
      width: 201px;
      height: 50px;
      background-color: #ececec33;
      display: flex;
      border-radius: 2px;
      align-items: center;
      justify-content: center; }
    .verification-success-mobile__actions .not-received-action {
      font-family: NunitoSans;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: 0.2px;
      text-align: center;
      color: #80858a;
      margin-bottom: 14px; }
    .verification-success-mobile__actions .resend-action {
      font-family: NunitoSans;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: #4a90e2; }

.arrow_box {
  position: relative;
  background: #f1f1f1;
  border: 0.5px solid #cccccc;
  border-radius: 5px; }

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f1f1f1;
  border-width: 0px 9.5px 12.5px 9.5px;
  margin-left: -27.5px; }

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #cccccc;
  border-width: 0px 10.5px 13.5px 10.5px;
  margin-left: -28.5px; }

@media screen and (min-width: 768px) {
  .verification-success-desktop {
    justify-content: center;
    padding-bottom: 15px;
    margin-top: -4px;
    border-bottom: solid 0.5px #efefef; }
    .verification-success-desktop .email-verfication-success {
      display: flex;
      padding-top: 10px;
      padding-bottom: 13px;
      width: 664px; }
      .verification-success-desktop .email-verfication-success .left-container .email-verification-icon {
        margin-top: 20px;
        display: flex;
        margin-left: 45px;
        margin-right: 46px; }
      .verification-success-desktop .email-verfication-success .right-container {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: flex-start; }
        .verification-success-desktop .email-verfication-success .right-container .email-verification-info {
          text-align: left;
          margin-right: 40px; }
          .verification-success-desktop .email-verfication-success .right-container .email-verification-info__title {
            margin-bottom: 15px;
            font-family: NunitoSans;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #404852; }
          .verification-success-desktop .email-verfication-success .right-container .email-verification-info__description {
            font-family: NunitoSans;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.77;
            letter-spacing: 0.2px;
            color: #80858a; }
        .verification-success-desktop .email-verfication-success .right-container .email-verification-actions {
          display: flex;
          margin-right: 30px;
          margin-top: 23px;
          align-items: center; }
          .verification-success-desktop .email-verfication-success .right-container .email-verification-actions .not-received-action {
            margin-right: 15px;
            font-family: NunitoSans;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: center;
            color: #80858a; }
          .verification-success-desktop .email-verfication-success .right-container .email-verification-actions .resend-action {
            font-family: NunitoSans;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            text-align: center;
            color: #4a90e2;
            cursor: pointer; }
          .verification-success-desktop .email-verfication-success .right-container .email-verification-actions .action-btn {
            width: 165px;
            height: 32px;
            border-radius: 2px;
            background-color: #ececec;
            display: flex;
            align-items: center;
            justify-content: center; }
            .verification-success-desktop .email-verfication-success .right-container .email-verification-actions .action-btn:hover {
              background-color: #e1e9f2; } }
