#header {
  width: 100%;
  height: 50px;
  background-color: #075f67;
  display: flex;
  align-items: center; }
  #header button:focus {
    outline: 0px; }
  #header .header-container {
    display: flex;
    align-items: center; }
    #header .header-container .left-header {
      flex: 1; }
      #header .header-container .left-header .switch-icon {
        display: none; }
      #header .header-container .left-header .user-meta-info {
        color: #ffffff;
        font-size: 16px;
        font-family: "NunitoSans", sans-serif;
        margin-left: 10px;
        font-weight: 600; }
    #header .header-container .right-header {
      flex: 1;
      text-align: right; }
      #header .header-container .right-header .menu-btn {
        border-radius: 50px;
        padding: 10px; }
        #header .header-container .right-header .menu-btn:focus, #header .header-container .right-header .menu-btn:hover, #header .header-container .right-header .menu-btn:active {
          background-color: #2d2c2c54; }
    #header .header-container .right-header-desktop {
      display: none; }

.header-navigation-status-desktop {
  display: none; }

@media screen and (min-width: 768px) {
  #header {
    height: 70px; }
    #header .left-header .header-navigation-status-desktop {
      display: flex;
      align-items: center; }
      #header .left-header .header-navigation-status-desktop .switch-icon {
        display: inline-block !important;
        margin-top: -4px; }
    #header .right-header-desktop {
      display: flex !important;
      align-items: center;
      justify-content: flex-end; }
      #header .right-header-desktop .logout-icon {
        margin-top: -4px; }
      #header .right-header-desktop .logout-text {
        color: #ffffff;
        font-size: 16px;
        font-family: "NunitoSans", sans-serif;
        margin-left: 10px; }
    #header .right-header-mobile {
      display: none; }
  .header-navigation-status-desktop {
    display: block; }
  .header-navigation-status-mobile {
    display: none; } }

.switch-to-desktop-text {
  padding: 5px 9px 3px 4px; }

.logout-text {
  padding: 3px 0px 7px 4px; }
