@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
.header-main {
  background-color: $dark-aqua;
  position: fixed;
  z-index: $zindex-navbar;

  &__inner {
    height: 50px;
    display: flex;
    align-items: center;

    .left {
      height: 100%;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .switch-btn {
        display: flex;
        min-width: 50px;
        height: 50px;
        margin-left: -13px;
        color: #FFFFFF;
        &:hover {
          background: none;
        }
      }//.switch-btn

      .brand {
        height: 100%;
        padding: 0 7px;
        display: flex;
        align-items: center;

        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #ffffff;
        &:hover {
          background: none;
        }
      }//.brand

    }//.left

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      .logout-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 111px;
        height: 37px;
        margin-right: -10px;
        color: #FFFFFF;

        &__text {
          font-size: 15px;
          margin-left: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #FFFFFF;
        }
      }//.logout-btn

      .menu-btn-mobile {
        height: 100%;
        display: flex;
        align-items: center;

        &__trigger {
          min-width: 40px;
          height: 40px;
          align-items: center;
          margin-right: 7px;
          padding: 0;

          .icon {
            border-radius: 50px;
            &:focus,
            &:hover,
            &:active {
              background-color: #2d2c2c54;
            }

          }//.icon

        }//&__trigger

      }//.menu-btn-mobile

    }//.right

  }//&__inner

}//.header-main

.switch-to-desktop-text {
  padding: 5px 9px 3px 4px;
}

.logout-text{
  padding: 3px 0px 7px 4px;
}

@media screen and ( min-width: map-get( $bp-mobile-first, md ) ) {

  .header-main {
    position: relative;

    &__inner {
      height:70px;
    }//&__inner

  }//.header-main

  .logout-text {
    padding: 0px;
  }

}//@media