.suggestion-select {
  font-family: NunitoSans !important;
  font-size: 15px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: 0.5px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  margin-top: 10px; }
