@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.detail-profile-list-item {
  padding:8px 15px 15px 15px;
  .list-meta-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    &__left {
      display: flex;
      align-items: center;
      .item-icon {
        display: flex;
        margin-right: 15px;
        position: relative;
        .i-icon {
          background-color: #F2F8FF;
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
        .warning-icon{
          position: absolute;
          position: absolute;
          height: 28px;
          width: 28px;
          left: 16px;
          top: -7px;
        }
      }
      .item-title {
        @include text-setup(#404852, 14px, $font-family);
        height: 19px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
      }
    }
    &__right {
      .item-edit-icon-mobile {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -13px;
      }
      .item-edit-icon-desktop{
        display: none;
      }
    }
  }
  .item-info-container {
    margin-top: -12px;
    .item-info {
      width: 260px;
      display: inline-block;
      margin-left: 45px;
      &__title {
        height: 19px;
        @include text-setup(#404852, 14px, $font-family);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
      }
      &__value {
        height: 19px;
        @include text-setup(#07a8b7, 14px, $font-family);
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        margin-bottom:4px;
        margin-top:5px;
      }
      &__description {
        @include text-setup(#80858a, 13px, $font-family);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.69;
        letter-spacing: 0.5px;
        margin-top:5px;
      }
    }
  }
}

@include media-query(md){
  .detail-profile-list-item {
    padding: 30px 30px 20px 30px;
    .list-meta-info{
      height:50px;
      &__left{
        .item-icon{
          margin-right: 22.1px;
          .i-icon{
            height: 40px;
            width: 40px;
          }
          .warning-icon{
            left: 24px;
          }
        }
      }
      &__right{
        .item-edit-icon-mobile{
          display: none;
        }
        .item-edit-icon-desktop{
          display: flex;
        }
      }
    }
    .item-info-container{
      .item-info{
        width:400px;
        margin-left:62px;

      }
    }
  }
}