@import '../../../../styles/variables';

.history-login-container {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.11);

  .history-login-header-container{
    padding: 0;

    .history-login-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:61px;
      margin-left: 20px;
      margin-right: 10px;

      &__left {
        font-size: 16px;
        color: map-get( $colors, charcoal-grey );
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
      }

      &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: map-get($colors, dark-sky-blue);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: right;
        width: 110px;
        height: 40px;
        cursor: pointer;

        &:hover {
          background: none;
        }//&:hover

      }

    }

  }

}

.all-history-login {
  margin-top: 0px !important;
  .history-login-header-container {
    display: none !important;
  }
}

.history-list-container{
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom:5px;
  .history-list{
    border-top: solid 0.5px #dedede;
    padding-bottom: 10px;
    .history-list__title {
      color: map-get( $colors, charcoal-grey );
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-top: 11px;
      margin-bottom: 3px;
    }

    .history-list__name{
      color: map-get( $colors, charcoal-grey );
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }
}

.history-login-list-container-desktop {
  display: none;
}

@import "HistoryLogin-md-min";