@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.verification-action-btn {
  @include text-setup($dark-sky-blue, 13px, $font-family);
  box-sizing: border-box;
  width: 170.6px;
  height: 40px;
  border-radius: 200px;
  background-color: $white;
  border: solid 0.5px $dark-sky-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  &:hover {
    box-sizing: border-box;
    font-size: 13px;
    border: solid 1.5px $dark-sky-blue;
  }
}