.notification-banner-container{
  background-color: #d4e8f2;
  border: solid 0.5px #1ba0e2;
  display: flex;
  padding: 15px;
  &__icon{
    display: block;
    margin-right: 15px;
  }
  &__text{
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #005179;
  }
}