@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

.notification-banner-container{
  background-color: #ffeaea;
  border: solid 0.5px #f3abab;
  display: flex;
  padding: 14.5px;
  &__icon{
    display: block;
    margin-right: 15px;
  }
  &__text{
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ac2626;
  }
}

@include media-query(md){
  .notification-banner-container{
    padding: 13px 15px;
    &__icon{
      margin-right: 20px;
    }
    &__text{
    }
  }
}