@media screen and ( min-width: map-get( $bp-mobile-first, md ) ) {

  .balance-payment-status-bank {
      flex: 619 1 1px;
      margin-bottom: 50px;
      padding: 19px 0;
      border-radius: 3px;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
      background-color: #ffffff;

      .expiration-notice {
        margin: 30px 30px 0;
        padding: 19px 20px;

        &__time {
          flex: 1 1 auto;
          flex-direction: row;
          align-items: center;

          .notice {
            flex: 1 1 auto;
          }//.notice

        }//&__time

      }//.expiration-notice

      .notice-bottom-expired {
        margin-top: 45px;

        &__inner {
          font-size: 13px;
          line-height: 1.77;
          letter-spacing: 0.2px;
          text-align: center;
        }//&__inner

      }//.notice-bottom-expired

      .payment-detail {
        margin: 20px 30px 0;

        &__row {
          padding: 20px;

          .bank-info {
            display: flex;
            align-items: center;

            &__name {
              margin-right: 15px;
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.4px;
              text-align: right;
              color: map-get($colors, charcoal-grey);
            }//&__name

          }//.bank-info

          &.bill-amount-row-expired {
            padding: 15px 20px;
          }//.bill-amount-row-expired

        }//&__row

        &__row-notice {
          margin: 8px 20px 30px;
          padding: 18px 20px;

          font-size: 15px;
        }//&__row-notice

      }//.payment-detail

      .notice-bottom {
        margin: 40px 50px 0;
        font-size: 15px;
      }//.notice-bottom

      .customer-service-block {
        margin-top: 41px;
      }//.customer-service-block

      .confirmation-block {
        margin: 25px 50px 55px;

        .action {

          .confirmation-btn {
            flex: none;
            width: 200px;

            font-size: 14px;
            letter-spacing: 0.5px;
          }//.confirmation-btn

        }//.action

      }//.confirmation-block

      .add-deposit-block {

        justify-content: flex-end;
        margin: 70px 29px 50px;

        .add-deposit-btn {
          flex: none;
          width: 200px;
        }//.add-deposit-btn

      }//.add-deposit-block

    }//&__main-panel

}//@media