@import "../../../../../styles/variables";

.balance-payment-status-bank {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    background: #ffffff;

    .expiration-notice {
      display: flex;
      margin: 30px 15px 0;
      padding: 15px 0;
      border-radius: 3px;
      background-color: map-get($colors, pale);

      &__icon {
        width: 28px;
        height: 28px;
        margin-left: 25px;
        background: url('../../../../../images/icons/warning-1.svg') no-repeat center;
      }//&__icon

      &__time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;

        .notice {
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: map-get($colors, tomato-red);
        }//.notice

        .time {
          display: block;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: map-get($colors, tomato-red);

          > * {
            display: inline-block;
          }

          span {
            font-size: 17px;
            font-weight: 600;
          }

          div {
            font-size: 16px;
            font-weight: 600;
          }

        }//.time

      }//&__time

    }//.expiration-notice

    .notice-expired {
      display: flex;
      align-items: center;
      margin: 30px 15px -10px;
      padding: 15px 25px;
      border-radius: 3px;
      background-color: map-get($colors, very-light-pink-three);

      &__icon {
        width: 28px;
        height: 28px;
        background: url('../../../../../images/icons/warning-1.svg') no-repeat center;
      }//&__icon

      &__text {
        margin-left: 15px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: right;
        color: map-get($colors, tomato-red);
      }//&__text

    }//.notice-expired

    .payment-detail {
      display: flex;
      margin: 30px 15px 0;
      flex-direction: column;
      border-radius: 3px;
      border: solid 0.5px map-get($colors, cool-grey);
      background-color: #ffffff;

      &__row {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-bottom: solid 0.5px map-get($colors, gray-87);

        > * {
          display: flex;
          align-items: center;
        }

        .label {
          white-space: nowrap;

          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: map-get($colors, charcoal-grey);
        }//.label

        .bank-account-number {
          font-size: 17px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: map-get($colors, dark-mint);
        }//.bank-account-number

        .bank-account-holder {
          margin-left: 50px;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: right;
          color: map-get($colors, charcoal-grey);
        }//.bank-account-holder

        &.bill-amount-row {
          padding-bottom: 8px;
        }//&.bill-amount-row

        &.bill-amount-row-expired {
          padding: 15px;
        }

        .bill-amount {
          font-size: 16px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: map-get( $colors, tomato-red );

          span {

            &:first-child {
              display: inline-flex;
              align-items: flex-end;
              height: 28px;
              padding-bottom: 2px;
            }//&:first-child

            &:last-child {
              display: inline-flex;
              align-items: flex-end;
              width: 41px;
              height: 28px;
              background-color: map-get($colors, ice-blue);

              font-size: 21px;
              font-weight: bold;
            }//&:last-child

          }//span

        }//.bill-amount

        &.is-last {
          border-bottom: 0;
        }//&.is-last

      }//&__row

      &__row-notice {
        position: relative;
        margin: 8px 5px 5px;
        padding: 10px 15px 14px;
        background-color: map-get($colors, pale);
        border-radius: 5px;

        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: map-get($colors, tomato-red);

        &:before {
          position: absolute;
          top: -10px;
          right: 30px;

          content: ' ';
          display: block;
          width: 0; height: 0;
          border-style: solid;
          border-width: 0 10px 10px;
          border-color: transparent transparent map-get($colors, pale);
        }//&:after

      }//&__row-notice

    }//.payment-detail

    .notice-bottom {
      margin: 30px 30px 0;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: map-get($colors, blue-grey);
    }//.notice-bottom

    .notice-bottom-expired {
      display: flex;
      justify-content: center;
      margin: 30px 30px 0;

      &__inner {
        max-width: 468px;

        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: rgba(0, 0, 0, 0.87);
      }//&__inner

    }//.notice-bottom-expired

    .customer-service-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .title {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
      }//.title

      .phone {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .icon {
          width: 26px; height: 26px;
          background: url('../../../../../images/icons/call-center.svg') no-repeat center;
        }//.icon

        .text {
          margin-left: 14px;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: rgba(0, 0, 0, 0.87);
        }//.text

      }//.phone

    }//.customer-service-block

    .confirmation-block {
      display: flex;
      flex-direction: column;
      margin: 30px 30px 180px;

      .header {
        display: flex;
        align-items: center;

        .icon {
          width: 18px; height: 18px;
          background: url('../../../../../images/icons/help.svg') no-repeat center;
        }//.icon

        .title {
          margin-left: 20px;

          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: map-get($colors, charcoal-grey);
        }//.title

      }//.header

      .action {
        display: flex;

        .confirmation-btn {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          margin-top: 10px;
          border-radius: 3px;
          background-color: map-get($colors, white-three);

          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: map-get($colors, dark-sky-blue);
        }//.confirmation-block

      }//.action

    }//confirmation-block

    .add-deposit-block {
      display: flex;
      margin: 50px 15px 33px;

      .add-deposit-btn {
        flex: 1 1 auto;
        height: 50px;
        border-radius: 3px;
        border: 0.5px solid map-get( $colors, blue-grey-two );

        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);

        &:hover {
          background-color: transparent;
        }

      }//.add-deposit-btn

    }//.add-deposit-block

  }//.balance-payment-status-bank

@import "BalancePaymentStatusBank-md-min";
