@import "../../../../styles/variables";

.balance-transaction-info {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  z-index: $zindex-modal;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: map-get($colors, dark-aqua);

    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;

    &__title {
      margin-left: 20px;
    }//&__title

    &__close-btn {
      width: 25px + ( 10px * 2 );
      min-width: 0;
      height: 100%;
      margin-right: 15px - 5px;
      border-radius: 25px;
      background: url('../../../../images/icons/close-blue.svg') no-repeat center;
      color: #FFFFFF;
    }//&__close-btn

  }//.header

  .info-section {
    padding-left: 20px;
    box-sizing: border-box;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -19px;
      padding: 20px;
      border-bottom: solid 0.5px map-get($colors, gray-87);

      .label {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: map-get($colors, charcoal-grey);
      }//.label

      .value {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: map-get($colors, charcoal-grey);
      }//.value

      .status {
        padding: 6px 10px;
        border-radius: 5px;
        background-color: map-get($colors, pale-two);

        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: map-get($colors, tomato-red);

        &--expired {
          background-color: map-get($colors, very-light-pink-three);
        }//&--expired

        &--verification-process {
          color: map-get($colors, pure-blue);
          background-color: map-get($colors, pale-lilac);
        }//&--verification-process

      }//.status

    }//&__row

    &__title {
      margin-top: 23px;

      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: map-get($colors, charcoal-grey);
    }//&__title

    &__name {
      margin-top: 15px;

      font-size: 13.6px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: map-get($colors, charcoal-grey);
    }//&__name

    %account-and-nominal-mobile {
      display: flex;

      font-size: 12.7px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: map-get($colors, charcoal-grey);

      .label {
        font-weight: 600;
      }//.label

      .value {
        margin-left: 3px;
      }//.value

    }//%account-and-nominal

    &__account-number {
      margin-top: 9px;
      @extend %account-and-nominal-mobile;
    }//&__account-number {

    &__nominal {
      margin-top: 6px;
      @extend %account-and-nominal-mobile;
    }//&__nominal

  }//.info-section

  @media screen and ( max-width: map-get( $bp-desktop-first, sm ) ) {
    &.is-visible-mobile {
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      display: flex;
    }//&.is-visible-mobile
  }//@media max sm

}//.balance-transaction-info

@import "BalanceTransactionInfo-md-min";
