@import "variables";

/*.mui-text-field {

  > label:first-child {
    font-weight: normal;
    color: lighten( black, 60 );
  }

  > div:nth-child(2) {
    &:before {
      border-bottom: 1px solid map-get( $colors, very-light-pink );
    }//&:before
    &:after {
      border-bottom: solid 2px map-get($colors, dark-sky-blue);
    }//&:after
  }//> div:first-child

  &__input {
    display: flex;
    padding: 0;
    height: 30px;

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
  }//&__input

  &--no-label {

    > div:first-child {
      &:before {
        border-bottom: 1px solid map-get( $colors, very-light-pink );
      }//&:before
      &:after {
        border-bottom: solid 2px map-get($colors, dark-sky-blue);
      }//&:after
    }//> div:first-child

  }//&--no-label

}//.mui-text-field*/

//.mui-text-area {
//
//  > label:first-child {
//    font-weight: normal;
//    color: lighten( black, 60 );
//  }
//
//  > div:nth-child(2) {
//    &:before {
//      border-bottom: 1px solid map-get( $colors, very-light-pink );
//    }//&:before
//    &:after {
//      border-bottom: solid 2px map-get($colors, dark-sky-blue);
//    }//&:after
//  }//> div:first-child
//
//  textarea {
//    font-size: 15px;
//    font-weight: normal;
//    font-style: normal;
//    font-stretch: normal;
//    line-height: normal;
//    letter-spacing: 0.5px;
//    color: rgba(0, 0, 0, 0.87);
//    overflow: hidden;
//
//    &::placeholder {
//      font-size: 0.875rem;
//      font-family: "NunitoSans", sans-serif;
//      font-weight: 400;
//      line-height: 1.5;
//    }//&::placeholder
//
//  }//textarea
//
//  &--no-label {
//
//    > div:first-child {
//      &:before {
//        border-bottom: 1px solid map-get( $colors, very-light-pink );
//      }//&:before
//      &:after {
//        border-bottom: solid 2px map-get($colors, dark-sky-blue);
//      }//&:after
//    }//> div:first-child
//
//  }//&--no-label
//
//}//.mui-text-area