$font-family: 'NunitoSans',sans-serif;
$bp-mobile-first: ( sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$bp-desktop-first: (xs: 575px, sm: 767px, md: 991px, lg: 1199px);

$zindex-raised-button: 100 !default;
$zindex-raised-panel: 500 !default;
$zindex-dropdown-backdrop: 990 !default;
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-fixed: 1030 !default;
$zindex-sticky: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

$dark-aqua: #075f67;
$charcoal-grey: #404852;
$steel-grey: #80858a;
$dark-sky-blue : #4a90e2;
$white: #ffffff;
$pale-grey: #e3eaec;
$loading-grey: #f5f6f8;
$grey: #cccccc;

$colors: (
        white: #f5f5f5,
        white-two: #f6f6f6,
        white-three: #f9f9f9,
        whitegrey: #f0f0f0,
        off-white: #f6f7f6,
        cool-grey: #9ea6a9,
        cool-grey-two: #a3a7ab,
        charcoal-grey: #404852,
        light-grey-7: #f8f8f8,
        light-grey-8: #f1f1f1,
        steel: #7b8085,
        steel-grey: #80858a,
        battleship-grey:#747d84,
        battleship-grey-two: #6c737a,
        gray-87: #dedede,
        pale-grey: #e3eaec,
        pale-grey-two: #f5f6f8,
        pale-grey-three: #f2f8ff,
        very-light-blue-two: #e6edf2,
        light-periwinkle: #dedfe1,
        silver: #e3e7e9,
        duck-egg-blue-light: #f2fafd,
        duck-egg-blue: #d7e5e8,
        ice-blue: #e4f0ff,
        pale: #fff1db,
        pale-two: #fff1da,
        orangey-yellow: #f5a623,
        pumpkin: #e08e07,
        blue-grey: #808d9e,
        blue-grey-two: #7f9398,
        pale-sky-blue: #c3e7ff,
        azure: #0098ff,
        dark-sky-blue: #4a90e2,
        cerulean: #048ccd,
        clear-blue: #1c94fc,
        pure-blue: #000fdd,
        mid-blue: #1b68b1,
        turquoise-blue: #07a8b7,
        dark-aqua: #075f67,
        pale-lilac: #dadaff,
        vibrant-green: #30d201,
        dark-mint: #49bf65,
        greenish-teal: #2fbc85,
        darkish-green: #309047,
        frog-green: #38bf0a,
        blue-green: #156871,
        blue-green2: #2bb773,
        tealish: #27a9d1,
        turquoise: #00c0a5,
        brick: #ac2626,
        lightish-red: #f7344c,
        tomato-red: #dd2c00,
        strawberry: #ff233e,
        salmon: #ff6e6e,
        pale-salmon: #f3abab,
        very-light-pink: #cccccc,
        very-light-pink-two: #c8c8c8,
        very-light-pink-three: #ffdada,
        very-light-pink-four: #e2e2e2,
        very-light-pink-five: #efefef,
        very-light-pink-six: #ffeaea,
        very-light-pink-seven: #e0e0e0,
        very-light-pink-eight: #d8d8d8
);
