@import './normalize.css';
@import './_colors.scss';
@import './_fonts.scss';
@import './_mixins.scss';

body {
  background-color: $pale-grey;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

.custom-card-styles {
  border-radius: 0px !important;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11) !important;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.container-inner {
  max-width: 1000px;
  width: 100%;
  // padding: 0px 10px;
}

//Helper Classes
.mr-0{
  margin:0px;
}

.hide {
  display: none;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}

/*
===========================================
      Basic Themeing for Sibisnis
===========================================
*/

.sibisnis-card {
  background-color: $white;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11) !important;
}

.sibisnis-container-wrapper {
  display: flex;
  justify-content: center;
}

.sibisnis-container-inner {
  max-width: 1000px;
  width: 100%;
  padding: 0px 10px;
}

/* icon touch area*/

.icon-touch-area-container-50{
  height:50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-touch-area-container-40{
  height:40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
 }

 .ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgb(162, 160, 160) 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;

  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
 }
 .ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
 }

/* Ripple effect */
.ripple-mobile {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
 }

 .ripple-mobile:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgb(162, 160, 160) 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;

  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
 }
 .ripple-mobile:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
 }


.icon-background {}
.opacity-background {}

/*
===========================================
            Media Queries
===========================================
*/

@include media-query(md){
  .sibisnis-card {
    border-radius: 5px !important;
  }
  .container-inner{
    padding:0px 20px !important;
  }
  .custom-card-styles {
    border-radius: 5px !important;
  }
  .icon-background:hover {
    background-color: #F0F1F2;
  }
  .opacity-background:hover {
    opacity: 0.6;
  }

  .ripple-mobile:after {
    height: 0px !important;
    width: 0px !important;
  }

  // .ripple:hover {
  //   background-color: #F0F1F2;
  // }
}

/*
===========================================
          Mobile First Utilities
===========================================
*/

.mobile-show {
  &__flex {
    display: flex !important;
  }
  &__block {
    display: block !important;
  }
  &__inline-block {
    display: inline-block !important;
  }
}

.desktop-show {
  &__flex {
    display: none !important;
  }
  &__block {
    display: none !important;
  }
  &__inline-block {
    display: none !important;
  }
}

@include media-query(md) {
  .mobile-show {
    &__flex {
      display: none !important;
    }
    &__block {
      display: none !important;
    }
    &__inline-block {
      display: none !important;
    }
  }
  .desktop-show {
    &__flex {
      display: flex !important;
    }
    &__block {
      display: block !important;
    }
    &__inline-block {
      display: inline-block !important;
    }
  }
}