@import './normalize.css';
@import './_colors.scss';
@import './_fonts.scss';
@import './_mixins.scss';

body {
  background-color: $pale-grey;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

.custom-card-styles {
  border-radius: 0px !important;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11) !important;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.container-inner {
  max-width: 1000px;
  width: 100%;
  padding: 0px 10px;
}

//Helper Classes
.mr-0{
  margin:0px;
}

@include media-query(md){
  .container-inner{
    padding:0px 20px !important;
  }
  .custom-card-styles {
    border-radius: 5px !important;
  }
}