@import url(./normalize.css);
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans/Nunito-LightItalic.ttf");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans/Nunito-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans/Nunito-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans/Nunito-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans/Nunito-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #e3eaec; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.custom-card-styles {
  border-radius: 0px !important;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11) !important; }

.container-wrapper {
  display: flex;
  justify-content: center; }

.container-inner {
  max-width: 1000px;
  width: 100%; }

.mr-0 {
  margin: 0px; }

/*
===========================================
      Basic Themeing for Sibisnis
===========================================
*/
.sibisnis-card {
  background-color: #ffffff;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11) !important; }

.sibisnis-container-wrapper {
  display: flex;
  justify-content: center; }

.sibisnis-container-inner {
  max-width: 1000px;
  width: 100%;
  padding: 0px 10px; }

/*
===========================================
            Media Queries
===========================================
*/
@media screen and (min-width: 768px) {
  .sibisnis-card {
    border-radius: 5px !important; }
  .container-inner {
    padding: 0px 20px !important; }
  .custom-card-styles {
    border-radius: 5px !important; } }

/* icon touch area*/
.icon-touch-area-container-50 {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.icon-touch-area-container-40 {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

/* Ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #a2a0a0 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s; }

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s; }
