@import "../../../../styles/variables";

.balance-topup-history {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  > * {
    flex: none;
  }//> *

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: map-get($colors, dark-aqua);

    .title {
      margin-left: 25px;

      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #ffffff;
    }//.title

    .close-btn {
      color: #FFFFFF;
    }//.close-btn

  }//.nav-mobile

  .history-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow-y:auto;

    > * {
      flex: none;
    }// > *

  }//.history-panel

  .biq-col {
    display: flex;

    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.87);

    &--method {
      flex: 1 1 auto;
    }//&--transfer-method

    &--amount {
      flex: none;
    }//&--amount

  }//.biq-col

  .history-item {
    display: flex;
    margin: 15px 15px 0;
    border-radius: 6px;
    border: solid 1px map-get( $colors, light-periwinkle );

    &:hover {
      background: transparent;
    }//&:hover

    &.is-first {
      margin-top: 20px;
    }//&.is-first

    &__inner {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      box-sizing: border-box;
    }//__inner

    .row-inner {
      display: flex;
      justify-content: space-between;
    }//.biq-row

    .transfer-status-mobile {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: map-get($colors, dark-sky-blue);

      &.is-failed {
        color: map-get( $colors, lightish-red );
      }//&.is-failed

      &.is-waiting-verification {
        color: map-get($colors, orangey-yellow);
      }//&.is-waiting-verification

    }//.transfer-status-mobile

    .date-mobile {
      margin-top: 13px;

      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: map-get($colors, cool-grey-two);
    }//.date-mobile

  }//.history-item

}//.balance-topup-history

@import "BalanceTopUpHistory-md-min";
