@import "../../../styles/variables";
.balance-payment {
  flex: 1 1 1px;

  &__inner {
    flex: 1 1 1px;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    overflow-y: auto;

    > * {
      flex: none;
    }// > *

  }//&__inner

}//.balance-payment

@import "./BalancePayment-md-min";
