@media screen and ( min-width: map-get( $bp-mobile-first, md ) ) {

  .balance-payment-method {
    padding-bottom: 0;

    &__header {
      margin: 38px 0 31px;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #ffffff;
    }//&__header

    &__body {
      align-items: flex-start;
    }

    &__method-list {
      flex: 609 1 1px;
      margin-top: 0;
      border-radius: 3px;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
      background-color: #FFFFFF;
      //background-color: map-get($colors, white-three);

      .payment-method-item {
        margin-top: 0;
        border-radius: 0;
        box-shadow: 0 0.5px 0 0 map-get($colors, silver);
        background: none;
        cursor: pointer;

        &:after {
          top: 19px; right: 20px;
        }

        &__inner {

          .label {
            justify-content: space-between;
            height: 62px;
            border: 0;

            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: map-get($colors, charcoal-grey);
            transition: all 200ms ease-in-out;

            .icon-desktop {
              margin-right: 54px;

              img {
                width: auto;
                height: 30px;
                margin-left: 10px;
              }//img

            }//.icon-desktop

          }//.label

        }//&__inner

        &:hover {
          &:before {
            position: absolute;
            content: ' ';
            display: block;
            left: 0; top: 0;
            width: 4px;
            height: 100%;
            background-color: map-get($colors, tealish);
          }//&:before

          .payment-method-item__inner {

            .label {
              font-size: 15px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.5px;
              color: map-get($colors, tealish);
            }//.label

          }//..payment-method-item__inner

        }//&:hover

      }//.payment-method-item

    }//&__method-list

    &__spacer {
      flex: 50 1 1px;
    }

  }//.balance-payment-method

}//@media