@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';
.email-verification-mobile-container {
  padding: 54px 20px 30px 20px;
  min-width: 300px;
  .email-verification-form {
    &__email-input {
      width: 100%;
      label{
        font-family: NunitoSans;
        height: 16px;
        top:5px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #80858a;
      }
      #email{
        font-family: NunitoSans;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #404852;
      }
    }
    &__note {
      font-family: NunitoSans;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #80858a;
    }
    &__button-container {
      margin-top: 20px;
      .resend-button {
        display: flex;
        align-items: center;
        font-family: NunitoSans;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        width: 300px;
        height: 50px;
        border-radius: 3px;
        background-color: #49bf65;
        box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
      }
    }
  }
}

.arrow_box {
  position: relative;
  background: #f1f1f1;
  border: 0.5px solid #cccccc;
  border-radius: 5px;
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f1f1f1;
  border-width: 0px 9.5px 12.5px 9.5px;
  margin-left: -27.5px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #cccccc;
  border-width: 0px 10.5px 13.5px 10.5px;
  margin-left: -28.5px;
}

@include media-query(md) {
  .email-verification-desktop-container {
    justify-content: center;
    padding-bottom: 15px;
    margin-top: -4px;
    border-bottom: solid 0.5px #efefef;
    .email-verification-form {
      display: flex;
      align-items: center;
      width: 664px;
      .input-field-container {
        width: 454px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin-left: 30px;
        margin-bottom: 30px;
        &__email-input {
          width: 100%;
          margin-top: 12px !important;
          label{
            font-family: NunitoSans;
            height: 16px;
            top:5px;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #80858a;
          }
          #email{
            font-family: NunitoSans;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #404852;
          }
        }
        &__note {
          font-family: NunitoSans;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: #80858a;
        }
      }
      &__button-container {
        margin-left: 20px;
        .resend-button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: #ffffff;
          width: 130px;
          height: 45px;
          border-radius: 3px;
          background-color: #49bf65;
          box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
          cursor: pointer;
        }
      }
    }
  }
}