#history-login-container {
  margin-top: 25px; }
  #history-login-container .history-login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px; }
    #history-login-container .history-login-header .history-login-header__left {
      color: #404852;
      font-size: 16px;
      font-family: "NunitoSans", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      text-align: left; }
    #history-login-container .history-login-header .history-login-header__right {
      color: #4a90e2;
      font-size: 15px;
      font-family: "NunitoSans", sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      text-align: right; }

.history-list-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 5px; }
  .history-list-container .history-list {
    border-top: solid 0.5px #dedede;
    padding-bottom: 10px; }
    .history-list-container .history-list .history-list__title {
      color: #404852;
      font-size: 13px;
      font-family: "NunitoSans", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-top: 11px;
      margin-bottom: 3px; }
    .history-list-container .history-list .history-list__name {
      color: #404852;
      font-size: 13px;
      font-family: "NunitoSans", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px; }
