.history-login-container {
  margin-top: 45px; }
  .history-login-container .history-login-header-container {
    padding: 0px; }
    .history-login-container .history-login-header-container .history-login-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 61px;
      margin-left: 20px;
      margin-right: 10px; }
      .history-login-container .history-login-header-container .history-login-header .history-login-header__left {
        color: #404852;
        font-size: 16px;
        font-family: "NunitoSans", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left; }
      .history-login-container .history-login-header-container .history-login-header .history-login-header__right {
        color: #4a90e2;
        font-size: 15px;
        font-family: "NunitoSans", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: right;
        width: 110px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }

.all-history-login {
  margin-top: 0px !important; }
  .all-history-login .history-login-header-container {
    display: none !important; }

.history-list-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 5px; }
  .history-list-container .history-list {
    border-top: solid 0.5px #dedede;
    padding-bottom: 10px; }
    .history-list-container .history-list .history-list__title {
      color: #404852;
      font-size: 13px;
      font-family: "NunitoSans", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-top: 11px;
      margin-bottom: 3px; }
    .history-list-container .history-list .history-list__name {
      color: #404852;
      font-size: 13px;
      font-family: "NunitoSans", sans-serif;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px; }

.history-login-list-container-desktop {
  display: none; }

@media screen and (min-width: 768px) {
  .history-login-container {
    margin-top: 30px !important; }
    .history-login-container .history-login-header {
      height: 63px !important;
      margin-left: 30px !important;
      margin-right: 0px !important; }
      .history-login-container .history-login-header .history-login-header__right {
        height: 48px !important;
        width: 151px !important; }
  .history-login-list-container {
    display: none; }
  .history-login-list-container-desktop {
    display: flex !important;
    justify-content: center; }
    .history-login-list-container-desktop .history-login-list-table {
      width: 100%; }
      .history-login-list-container-desktop .history-login-list-table thead tr {
        height: 48px;
        background-color: #f8f8f8;
        font-family: NunitoSans;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #404852; }
        .history-login-list-container-desktop .history-login-list-table thead tr .history-login-list-table__header-column:nth-child(1) {
          padding-left: 30px; }
      .history-login-list-container-desktop .history-login-list-table tbody tr.history-login-list-body__item {
        height: 45px;
        background-color: #ffffff;
        background-color: var(--white);
        border-top: solid 0.5px #dedede;
        font-family: NunitoSans;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #404852; }
        .history-login-list-container-desktop .history-login-list-table tbody tr.history-login-list-body__item .history-login-list-table__body-column-date {
          width: 135px;
          padding-left: 30px;
          padding-right: 35px; }
        .history-login-list-container-desktop .history-login-list-table tbody tr.history-login-list-body__item .history-login-list-table__body-column-country {
          width: 59px;
          padding-right: 106px; }
        .history-login-list-container-desktop .history-login-list-table tbody tr.history-login-list-body__item .history-login-list-table__body-column-ip {
          width: 92px;
          padding-right: 111px; }
  .all-history-login {
    margin-top: 7px !important; }
    .all-history-login .history-login-header-container {
      display: block !important; }
      .all-history-login .history-login-header-container .history-login-header__right {
        display: none !important; } }
