.profile-button-mobile {
  width: 210px;
  text-align: center;
  padding: 10.5px 0px;
  border-radius: 100px;
  background-color: #f5f5f5;
  color: #4a90e2;
  font-size: 15px;
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }

.profile-button-desktop {
  display: none; }

@media screen and (min-width: 768px) {
  .profile-button-mobile {
    display: none; }
  .profile-button-desktop {
    display: block;
    margin: 0px 24px;
    letter-spacing: 0.5px;
    color: #4a90e2;
    font-size: 15px;
    font-family: "NunitoSans", sans-serif;
    text-decoration: underline; } }
