@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';
.progress-bar-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 13px;
  .progress-bar-container__text {
    @include text-setup($charcoal-grey, 16px, $font-family);
    letter-spacing: 0.4px;
    font-weight: bold;
  }
  .progress-status-container {
    display: flex;
    align-items: center;
    margin-top: 35px;
    .progress-status {
      font-weight: bold;
      letter-spacing: 0.4px;
      margin-left: 15px;
      @include text-setup(#e08e07, 16px, $font-family);
    }
  }
}


.profile-verfication-list {
  text-align: center;
  margin-top: 4px;
  .profile-verfication-list__content {
    @include text-setup($charcoal-grey,15px,$font-family);
    font-weight: 400;
    line-height: 1.53;
    letter-spacing: 0.5px;
    text-align: center;
  }
}


.varification-list-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding:9px 0px;
  .verification-icon {
    width: 22px;
    height: 22px;
    margin-right: 3px;
  }
  .varification-list-item__icon-contianer {
    margin: 0px;
    background-color: #f2f8ff;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }
  .varification-list-item__icon {
    margin: 0px;
  }
  .varification-list-item__text {
    @include text-setup($charcoal-grey, 13px, $font-family);
    margin-left: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
    flex: 1;
  }
  .desktop-verification-status{
    display: none;
  }
}



@include media-query(md) {
  .progress-bar-container {
    text-align: left !important;
  }
  .varification-list-item {
    .mobile-varification-status {
      display: none;
    }
    .desktop-verification-status {
      display: block;
      .verification-icon-container {
        display: flex;
        align-items: center;
        .verification-icon {
          width: 32px !important;
          height: 32px !important;
          margin-right: 18px !important;
        }
        .verification-icon-container__text {
          @include text-setup($charcoal-grey, 13px, $font-family);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
      .verification-action-btn {
        @include text-setup($dark-sky-blue, 13px, $font-family);
        width: 170.6px;
        height: 40px;
        border-radius: 200px;
        background-color: $white;
        border: solid 0.5px $dark-sky-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        &:hover{
          font-size: 14px;
          border: solid 1.5px $dark-sky-blue;
        }
      }
    }
  }
}