.progress-bar-container {
  text-align: center;
  padding: 14px 4px 9px 4px; }
  .progress-bar-container .progress-bar-container__text {
    color: #404852;
    font-size: 16px;
    font-family: "NunitoSans", sans-serif;
    letter-spacing: 0.4px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal; }
  .progress-bar-container .progress-status-container {
    display: flex;
    align-items: center;
    margin-top: 30px; }
    .progress-bar-container .progress-status-container .progress-status {
      color: #e08e07;
      font-size: 16px;
      font-family: "NunitoSans", sans-serif;
      font-weight: bold;
      letter-spacing: 0.4px;
      margin-left: 15px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal; }

.profile-verfication-list {
  text-align: center;
  border-top: solid 0.5px #dedede;
  padding-bottom: 14px; }
  .profile-verfication-list .profile-verfication-list__container {
    margin-top: 14px; }
  .profile-verfication-list .profile-verfication-list__content {
    color: #404852;
    font-size: 15px;
    font-family: "NunitoSans", sans-serif;
    font-weight: normal;
    line-height: 1.53;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 5px; }

.varification-list-item-container {
  border-bottom: solid 0.5px #dedede;
  padding: 0px !important;
  height: 60px; }
  .varification-list-item-container:last-child {
    border-bottom: 0px; }
  .varification-list-item-container .varification-list-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 20px;
    margin-right: 22px; }
    .varification-list-item-container .varification-list-item .verification-icon {
      width: 22px;
      height: 22px;
      margin-right: 3px; }
    .varification-list-item-container .varification-list-item .warning-icon {
      height: 25px;
      width: 25px; }
    .varification-list-item-container .varification-list-item .varification-list-item__icon-contianer {
      margin: 0px;
      background-color: #f2f8ff;
      border-radius: 50px;
      display: flex;
      align-items: center; }
    .varification-list-item-container .varification-list-item .varification-list-item__icon {
      margin: 0px;
      height: 30px;
      width: 30px; }
    .varification-list-item-container .varification-list-item .varification-list-item__text {
      color: #404852;
      font-size: 13px;
      font-family: "NunitoSans", sans-serif;
      margin-left: 15px;
      font-weight: 400;
      letter-spacing: 0.3px;
      flex: 1; }
    .varification-list-item-container .varification-list-item .desktop-verification-status {
      display: none; }

@media screen and (min-width: 768px) {
  .progress-bar-container {
    text-align: left !important;
    padding: 5px 7px 8px 6px; }
    .progress-bar-container .progress-bar-container__text {
      color: #404852;
      font-size: 16px;
      font-family: "NunitoSans", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px; }
    .progress-bar-container .progress-status-container {
      margin-top: 26px; }
      .progress-bar-container .progress-status-container .progress-status {
        margin-left: 44px; }
  .profile-verfication-list .profile-verfication-list__content {
    text-align: left;
    padding-left: 6px;
    line-height: normal; }
  .varification-list-item-container {
    border-bottom: solid 0.5px #efefef;
    height: 70px; }
    .varification-list-item-container:last-child {
      border-bottom: 0px; }
    .varification-list-item-container .varification-list-item {
      margin-left: 30px;
      margin-right: 31.4px; }
      .varification-list-item-container .varification-list-item .varification-list-item__icon {
        height: 40px;
        width: 40px; }
      .varification-list-item-container .varification-list-item .varification-list-item__text {
        margin-left: 20px !important; }
      .varification-list-item-container .varification-list-item .mobile-varification-status {
        display: none; }
      .varification-list-item-container .varification-list-item .desktop-verification-status {
        display: block; }
        .varification-list-item-container .varification-list-item .desktop-verification-status .verification-icon-container {
          display: flex;
          align-items: center; }
          .varification-list-item-container .varification-list-item .desktop-verification-status .verification-icon-container .verification-icon {
            width: 32px !important;
            height: 32px !important;
            margin-right: 18px !important; }
          .varification-list-item-container .varification-list-item .desktop-verification-status .verification-icon-container .verification-icon-container__text {
            color: #404852;
            font-size: 13px;
            font-family: "NunitoSans", sans-serif;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px; }
        .varification-list-item-container .varification-list-item .desktop-verification-status .verification-action-btn {
          color: #4a90e2;
          font-size: 13px;
          font-family: "NunitoSans", sans-serif;
          box-sizing: border-box;
          width: 170.6px;
          height: 40px;
          border-radius: 200px;
          background-color: #ffffff;
          border: solid 0.5px #4a90e2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px; }
          .varification-list-item-container .varification-list-item .desktop-verification-status .verification-action-btn:hover {
            box-sizing: border-box;
            font-size: 13px;
            border: solid 1.5px #4a90e2; } }
