@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
.photo-crop {
  text-align: center;
  height: 170px;
  margin-top: 25px;

  img {
    max-width: 100%;
  }
}

@media screen and ( min-width: map-get( $bp-mobile-first, md ) ) {
  .photo-crop {
    height: 252px;
    margin-top: 40px;
  }
}