@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
.photo-crop {
  text-align: center;
  height: 170px;
  margin-top: 25px;

  img {
    max-width: 100%;
  }
}

@include media-query(md) {
  .photo-crop {
    text-align: center;
  }
}