@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';
.progress-status-text{
  font-family: NunitoSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  margin-top: 13.7px;
  margin-bottom: 10px;
}
.error{
 color: #ff233e;
}
.success{
 color: #1dae10;
}
.drop-photo-upload-button {
  @include text-setup($white, 14px, $font-family);
  height: 50px;
  border-radius: 2px;
  background-color: #2196f3;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 50px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  &__text {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 30;
    img{
      margin-right: 10.5px;
    }
  }
  &__progress {
    height: 100%;
    width: 55%;
    position: absolute;
    background-color: #0772c6;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 20;
  }
}

.without-text-spacing {
  margin-top: 50px;
}

@include media-query(md) {
  .drop-photo-upload-button {
    width: 360px !important;
    margin: 0 auto !important; // margin-top: 40px !important;
  }
  .without-text-spacing {
    margin-top: 40px !important;
  }
}