.progress-status-text {
  font-family: NunitoSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  margin-top: 13.7px;
  margin-bottom: 10px; }

.error {
  color: #ff233e; }

.success {
  color: #1dae10; }

.drop-photo-upload-button {
  color: #ffffff;
  font-size: 14px;
  font-family: "NunitoSans", sans-serif;
  height: 50px;
  border-radius: 2px;
  background-color: #2196f3;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 10; }
  .drop-photo-upload-button__text {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 30; }
    .drop-photo-upload-button__text img {
      margin-right: 10.5px; }
  .drop-photo-upload-button__progress {
    height: 100%;
    width: 55%;
    position: absolute;
    background-color: #0772c6;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 20; }

.without-text-spacing {
  margin-top: 50px; }

@media screen and (min-width: 768px) {
  .drop-photo-upload-button {
    width: 360px !important;
    margin: 0 auto !important; }
  .without-text-spacing {
    margin-top: 40px !important; } }
