@import '../../../styles/mixins';
@import '../../../styles/variables';

.side-nav-main{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
  background-color: #FFFFFF;

  .profile {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
    position: relative;
    overflow: auto;

    > * {
      flex: none;
    }// > *

  }//.profile

  .profile-detail-btn {
    position: absolute;
    top: 17px; right: 7px;
    min-width: 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: url('../../../images/icons/profile.svg') no-repeat center;

    &.is-active {
      background: url('../../../images/icons/profile-active.svg') no-repeat center;
    }//&.is-active

  }//.profile-detail-btn

  .profile-tool-top {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    background-color: rgb(64, 72, 82);
    opacity: 1;
    padding: 0;
    width: 115px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      border-left-color: #404852;
      border-left-style: solid;
      border-left-width: 6px;
    }

  }//.profile-tool-top

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    &__img {
      height: 60px;
      width: 60px;
      background: #dddddd no-repeat center;
      background-size: cover;
      cursor: pointer;
      margin: 0 auto;
      border-radius: 30px;
    }

    &__name {
      margin-top: 15px;
      @include text-setup($charcoal-grey, 16px);
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      font-weight: 600;
    }

    &__email {
      margin-top: 5px;
      @include text-setup($charcoal-grey, 13px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
    }

    .divider {
      margin-top: 15px;
      width: 165px;
      height: 0;
      border-top: solid 0.5px #dedede;
    }//.divider

  }//.profile-info

  .balance-info {
    text-align: center;
    margin-top: 15px;

    &__text {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: map-get( $colors, steel-grey );
      letter-spacing: 0.5px;
    }//&__text

    &__amount {
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: map-get( $colors, charcoal-grey );
      letter-spacing: 1px;
      margin-top: 3px;
    }//&__amount

  }//.balance-info

  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    &__divider {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: map-get( $colors, dark-sky-blue );
    }//&__divider

    &__btn {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 210px;
      height: 45px;
      border-radius: 100px;
      background-color: map-get($colors, white);

      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: map-get( $colors, dark-sky-blue );

      &--withdraw {
        margin-top: 15px;
      }//&--withdraw

    }//&__btn

  }//.balance

  .profile-nav-btn{
    display: flex;
    align-items: center;
    margin-left: 20px;

    &__text{
      font-weight: normal;
      @include text-setup($steel-grey,15px);
      letter-spacing: 0.5px;
      margin-top: 2px;
    }

    &__navicon{
      position: absolute;
      right:15px;
    }

  }//.profile-nav-btn

  .nav-btn-wrapper {
    display: flex;
    flex-direction: column;

    .nav-btn {
      display: flex;
      justify-content: flex-start;
      height: 55px;
      padding: 0 15px 0 20px;
      border-top: 1px solid map-get( $colors, gray-87 );
      border-radius: 0;

      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: map-get($colors, steel-grey);

      &--transfer-saldo {
        padding-bottom: 64px - 55px;
      }//&--transfer-saldo

      &__inner {
        flex: 1 1 auto;
        display: flex;
        align-items: center;

        .icon {
          width: 24px; height: 24px;
          background: transparent no-repeat center;

          &--home {
            background-image: url('../../../images/icons/ico-dashboard.svg');
          }//&--home

          &--mutasi {
            background-image: url('../../../images/icons/ico-mutasi.svg');
          }//&--mutasi

          &--transfer-saldo {
            background-image: url('../../../images/icons/transfer-saldo.svg');
          }//&--transfer-saldo

        }//.icon

        .label {
          margin-left: 15px;
        }//.label

        .arrow {
          flex: 1 1 1px;
          height: 25px;
          background: url('../../../images/icons/litle-right.svg') no-repeat center right;
        }//.arrow

      }//&__inner

      &.is-active {
        font-weight: bold;
        color: map-get($colors, dark-sky-blue);
      }//&.is-active

    }//.nav-btn

  }//.nav-btn

}//.side-nav-main

@import "./SideNavMain-md-min";