@import "../../../../styles/variables";

.w-password-field {

  .show-toggle-btn {
    position: absolute;
    $design-diff: 34px - 24px;
    top: 17px - ($design-diff/2);
    right: 10 - ($design-diff/2);
    min-width: 0;
    width: 24px + $design-diff;
    height: 24px + $design-diff;
    border-radius: (34px / 2);
    background: url( '../../../../images/icons/ic-visibility-off.svg' ) no-repeat center;
    z-index: $zindex-raised-button;

    &:hover {
      background-color: transparent;
    }//&:hover

    &.is-shown {
      background-image: url( '../../../../images/icons/ic-visibility.svg' );
    }//&.is-shown

  }//.show-toggle-btn

}//.w-password-field