@import "../../../../styles/variables";

.w-password-field {

  &--password-test-show {
    z-index: 10;
  }//&--password-test-show

  .show-toggle-btn {
    position: absolute;
    $design-diff: 34px - 24px;
    top: 17px - ($design-diff/2);
    right: 10 - ($design-diff/2);
    min-width: 0;
    width: 24px + $design-diff;
    height: 24px + $design-diff;
    border-radius: (34px / 2);
    background: url( '../../../../images/icons/ic-visibility-off.svg' ) no-repeat center;
    z-index: $zindex-raised-button;

    &:hover {
      background-color: transparent;
    }//&:hover

    &.is-shown {
      background-image: url( '../../../../images/icons/ic-visibility.svg' );
    }//&.is-shown

  }//.show-toggle-btn

  .password-test {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    display: flex;
    transform: translateY(-20px);
    max-height: 0;

    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(68, 75, 74, 0.5);
    background-color: #ffffff;
    transition: all 250ms ease-in-out, opacity 400ms ease-in-out;
    z-index: $zindex-dropdown;
    pointer-events: none;

    &.is-visible {
      padding: 20px;
      opacity: 1;
      transform: translateY( 0 );
      max-height: 300px;
      pointer-events: auto;
    }//&.is-visible

    &__col {
      display: flex;
      flex-direction: column;

      &--right {
        margin-left: 30px;
      }//&--right

    }//&__left


    .test-item {
      display: flex;
      align-items: center;
      margin-top: 10px;

      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ee5043;

      &:before {
        content: ' ';
        display: block;
        width: 7px;
        height: 7px;
        margin-right: 10px;
        border-radius: 5px;
        background: #ee5043;

      }//&:before

      &.is-first {
        margin-top: 0;
      }//&.is-first

      &.is-valid {
        color: #31d86d;

        &:before {
          background: #31d86d;
        }//&:before

      }//&.is-valid

    }//.test-item

  }//.password-test



}//.w-password-field