@import '../../../styles/variables.scss';

.custom-accordion-container {

  &__title{
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 12px;
    border-top: solid 0.5px #dedede;

    &-left{

      &-name{
        font-size: 13px;
        color: map-get( $colors, charcoal-grey );
        margin-right: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
      }

      &-date{
        font-size: 13px;
        color: map-get( $colors, charcoal-grey );
        margin-right: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
      }

    }
  }

  &__body{
    padding: 0 20px;
    background-color: #f7f7f7;
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }//&__body

}//.custom-accordion-container