.address-form-container {
  width: 300px;
  padding: 20px 20px 30px 20px;
  background-color: #f1f1f1;
  border: solid 0.5px #cccccc; }
  .address-form-container .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .address-form-container .form-header__title {
      color: rgba(0, 0, 0, 0.87);
      font-size: 16px;
      font-family: "NunitoSans", sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px; }
  .address-form-container .form-body {
    margin-top: 20px; }
    .address-form-container .form-body .address-input {
      font-family: NunitoSans;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: rgba(0, 0, 0, 0.87); }
    .address-form-container .form-body .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 45px; }
      .address-form-container .form-body .form-actions__cancel {
        width: 120px;
        height: 45px;
        border-radius: 5px;
        background-color: #ececec33;
        cursor: pointer; }
        .address-form-container .form-body .form-actions__cancel .form-actions-btn-text {
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87); }
      .address-form-container .form-body .form-actions__save {
        width: 160px;
        height: 45px;
        border-radius: 5px;
        background-color: #49bf65;
        cursor: pointer; }
        .address-form-container .form-body .form-actions__save .form-actions-btn-text {
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: #ffffff; }

@media screen and (min-width: 768px) {
  .address-form-container {
    width: 603px;
    padding: 20px 30px 30px 30px; }
  .form-body .form-actions {
    justify-content: flex-end !important; }
    .form-body .form-actions__cancel {
      width: 160px !important;
      margin-right: 16px; } }
