@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
.address-form-container {
  width: 300px;
  padding: 20px 20px 30px 20px;
  background-color: #f1f1f1;
  border: solid 0.5px $grey;
  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      @include text-setup( rgba(0, 0, 0, 0.87), 16px, $font-family);
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
    }
  }
  .form-body {
    margin-top: 20px;
    .address-input {
      font-family: NunitoSans;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: rgba(0, 0, 0, 0.87);
    }
    .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      &__cancel {
        width: 120px;
        height: 45px;
        border-radius: 5px;
        background-color: #ececec33;
        cursor: pointer;
        .form-actions-btn-text {
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      &__save {
        width: 160px;
        height: 45px;
        border-radius: 5px;
        background-color: #49bf65;
        cursor: pointer;
        .form-actions-btn-text {
          font-family: NunitoSans;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

@include media-query(md) {
  .address-form-container {
    width: 603px;
    padding: 20px 30px 30px 30px;
  }
  .form-body {
    .form-actions {
      justify-content: flex-end !important;
      &__cancel {
        width: 160px !important;
        margin-right: 16px;
      }
    }
  }
}