@import "../../../styles/variables";

.dialog-password-update {
  //align-items: normal;

  &__inner {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin: 0 10px;
    border: 0.5px solid map-get( $colors, very-light-pink );
    border-radius: 2px;
    background-color: #ffffff;
    pointer-events: auto;
    overflow-y: auto;

    > * {
      flex: none;
    }

    &__body-form {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      padding: 0 20px;

      .w-password-field {
        flex: none;
        margin-bottom: 4px;
        &.is-last {
          margin-bottom: 0;
        }//&.is-last
      }//.w-password-field

      .otp-btn {
        display: flex;
        align-items: center;
        width: 116px;
        height: 36px;
        border-radius: 2px;
        margin-top: 20px;
        border: 1px solid map-get( $colors, dark-mint );

        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: map-get($colors, dark-mint);
      }//.otp-btn

      .otp-input {
        margin-top: 20px;

        input[type*="number"] {
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: rgba(0, 0, 0, 0.87);
        }//input

      }//.otp-input

      .submit-btn {
        height: 50px;
        margin-top: 26px;
        margin-bottom: 30px;
        border-radius: 3px;
        box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
        background-color: map-get($colors, dark-mint);
        opacity: 0.6;

        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;

        &.is-ready {
          opacity: 1;
        }//&.is-ready

      }//.submit-btn

      .widget-loading-indicator-bar {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      }//.widget-loading-indicator-bar

    }//&__body-form

  }//.dialog-password-update

}//.modal-inner
