@import "../../../../styles/variables";

.balance-payment-confirmation {
  flex: 1 1 auto !important;
  display: flex;
  flex-direction: column;

  > * {
    flex: none;
  }//> *

  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: map-get($colors, dark-aqua);

    .nav-back {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      height: 100%;

      &__btn {
        height: 50px;
        min-width: 0;
        $design-with-diff: (50px-24px)/2;
        width: 50px;
        margin: 0 (20px-$design-with-diff) 0 (15px-$design-with-diff);
        background: url( '../../../../images/icons/back-white.svg' ) no-repeat center;
        border-radius: 10px;
        color: #FFFFFF;

        &:hover {
          background-color: transparent;
        }//&:hover

      }//&:before

      &__text{
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #ffffff;
      }//&__text

    }//.nav-back

  }//&__header

  &__body {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    background: #ffffff;
  }//&__body

  &__main-panel {
    flex: 1 1 1px;
    position: relative;
    display: flex;
    flex-direction: column;

    .alert-box {
      position: fixed;
      top: 0; left: 0; right: 0;
      display: flex;
      flex-direction: column;
      z-index: $zindex-fixed;

      .alert-item {
        display: flex;
        align-items: flex-start;
        margin-top: 5px;
        max-height: 0;
        transform: translateY( -50px );
        opacity: 0;
        background: map-get( $colors, salmon );
        transition: all ease-in-out 250ms;

        &:first-child {
          margin-top: 0;
        }//&:first-child

        &.is-visible {
          max-height: 150px;
          transform: translateY(0);
          opacity: 1;
        }//&.is-visible

        > * {
          flex: none;
        }//> *

        .icon {
          width: 24px; height: 24px;
          margin: 15px 0 0 25px;
          background: transparent no-repeat center;

          &--failure {
            background-image: url('../../../../images/icons/icon-white-cancel.svg');
          }//&--failure

        }//.icon

        .info {
          flex: 1 1 1px;
          display: flex;
          flex-direction: column;
          margin: 15px 0 15px 15px;

          .title {
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #ffffff;
          }//.title

          .notice {
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #ffffff;
          }//.notice

        }//.info

        .close-btn {
          $diff: 10px;
          width: 24px + $diff;
          min-width: 0;
          height: 24px + $diff;
          margin: (10px - ( $diff/2 ) ) (10px - ( $diff/2 )) 0 0;
          border-radius: (24px + $diff) /2;
          background: url('../../../../images/icons/icon-white-close.svg') no-repeat center;

          &:hover {
            background-color: transparent;
          }//&:hover

        }//.close-bnt

      }//.alert-items

    }//.alert-box

    .upload-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;

     .title {
       margin-top: 60px;
       font-size: 18px;
       font-weight: 600;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: 0.5px;
       text-align: center;
       color: map-get($colors, charcoal-grey);
     }//.title

      .notice {
        max-width: 468px;
        margin: 10px 15px 0;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.77;
        letter-spacing: 0.2px;
        text-align: center;
        color: map-get($colors, steel-grey);
      }//.notice

      .image-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 360px;
        margin: 41px 0 0;
        padding: 0 40px;
        box-sizing: border-box;

        &__item {
          display: flex;
          margin-top: 10px;

          &.is-first {
            margin-top: 0;
          }//&.is-first

          .icon {
            width: 32px;
            height: 38px;
            background: url('../../../../images/icons/ico-jpeg.svg') no-repeat center;
          }//.icon

          .info {
            flex: 1 1 1px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 14px;

            .text {
              display: flex;
              margin-top: 2px;

              &__inner {
                flex: 1 1 1px;
                width:0;

                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: map-get($colors, charcoal-grey);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }//.text

            .progress-bar {
              height: 2px;
              margin-top: 8px;
              background: map-get( $colors, very-light-pink-four );

              .indicator {
                height: 100%;
                width: 0;
                background: map-get( $colors, vibrant-green );
                transition: all 250ms ease-in-out;
              }//.indicator

            }//.progress-bar

            .size {
              margin-top: 2px;

              font-size: 10px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.3px;
              color: map-get($colors, steel-grey);
            }//.size

          }//.info

          .action {
            width: 24px; height: 24px;
            min-width: 0;
            margin: 7px 0 0 14px;
            border-radius: 12px;
            background: transparent no-repeat center;

            &:hover {
              background-color: transparent;
            }

            &--cancel {
              background-image: url('../../../../images/icons/ico-batal.svg');
            }//&--cancel

            &--retry {
              background-image: url('../../../../images/icons/ico-refresh.svg');
            }//&--failed

            &--uploaded {
              background-image: url('../../../../images/icons/ico-upload-sukses.svg');
            }//&--uploaded

          }//.action

        }//&__item

      }//.image-list

      .add-photo-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 50px;
        margin-top: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        border: 1px solid map-get( $colors, greenish-teal );

        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: map-get($colors, dark-mint);

        &.has-images {
          width: auto;
          height: auto;
          margin-top: 40px - 10px;
          padding: 10px;
          border: 0;

          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0.3px;
          color: map-get($colors,dark-mint);

          &:before {
            content: '+';
            display: block;
            margin-right: 5px;
          }//&:before

        }//&.has-images

        &.has-upload-progress {
          opacity: 0.6;
        }//&.is-loading

      }//.add-photo-btn

      .save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 50px;
        margin-top: 30px - 10px;
        border-radius: 5px;
        box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
        background-color: map-get($colors, dark-mint);

        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;

        &.has-upload-progress {
          opacity: 0.6;
        }//&.is-loading

      }//.save-btn

    }//.upload-block

  }//&__main-panel

}//.balance-payment-confirmation

@import "BalancePaymentConfirmation-md-min";