@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

// .custom-modal {
//   div{
//     &:nth-of-type(2) {
//       margin: 0px !important;
//       border-radius: 2px !important;
//     }
//   }
// }

.jss30 {
  margin: 0px !important;
  border-radius: 2px !important;
}

.MuiPaper-rounded-30 {
  margin: 0px !important;
  border-radius: 2px !important;
}

.close-icon-container{
  position: absolute;
  opacity: 0.2;
  right: 1px;
  top: 1px;
}

@include media-query(md){
  .custom-modal{
    // max-width: 670px;
  }
  .close-icon-container{
    right: 6px !important;
    top: 5px !important;
    &:hover{
      opacity: 1 !important;
    }
  }
}