.custom-modal div:nth-child(2) {
  margin: 0px !important;
  border-radius: 2px !important; }

.close-icon-container {
  position: absolute;
  opacity: 0.2;
  right: 1px;
  top: 1px; }

@media screen and (min-width: 768px) {
  .close-icon-container {
    right: 6px !important;
    top: 5px !important; }
    .close-icon-container:hover {
      opacity: 1 !important; } }
