@import "../../../../styles/variables";

.balance-topup {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;

  .history-btn-mobile {
    min-width: 67px;
    height: 35px;
    margin-right: 20px - 8px;
    border-radius: 5px;
    background-color: rgba(white, 0.2);

    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: right;
    color: #ffffff;
  }//.history-btn-mobile

  .tab-nav {
    display: flex;
    justify-content: flex-start;

    .widget-tab {
      flex: 1 1 auto;
      margin-top: 7px;
    }//.widget-tab

  }//.tab-nav

  .tab-panel {
    display: flex;
    flex-direction: column;

    &__pick-nominal {
      display: flex;
      flex-direction: column;

      .nominal-item {

        &__inner {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 69px;
          padding: 13px 30px 0 35px;
          box-sizing: border-box;
          border-bottom: solid 1px map-get( $colors, very-light-blue-two );
        }//&__inner

        &__number {
          display: flex;
          justify-content: space-between;
          width: 100%;

          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: #000000;

          &:after {
            content: ' ';
            display: block;
            width: 24px; height: 24px;
            background: url("../../../../images/icons/right-thema.svg") no-repeat center;
          }//&:after

        }//&__number

        &__text {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: var(--battleship-grey);
        }//&__text

        &:hover{
          background: none;
        }//&:hover

      }//.nominal-item

    }//&__pick-nominal

  }//.tab-panel

}//.balance-topup

@import "./BalanceTopup-md-min";