@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

/*
===========================================
            Animation
===========================================
*/
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

//Profile Loader
.profile-info-loader {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  &__image-placeholder {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $loading-grey;
    @extend .animated-background;
  }
  &__name-placeholder {
    width: 109px;
    height: 10px;
    background-color: $loading-grey;
    margin-top: 21px;
    @extend .animated-background;
  }
  &__email-placeholder {
    width: 150px;
    height: 10px;
    background-color: $loading-grey;
    margin-top: 15px;
    @extend .animated-background;
  }
  .divider {
    margin-top: 19px;
  }
}

// Balance Loader
.balance-loader {
  margin-top: 15px;
  &__text-placeholder {
    @include text-setup($steel-grey, 14px, $font-family);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
  }
  &__amount-placeholder {
    width: 170px;
    height: 10px;
    background-color: $loading-grey;
    margin-top:13px;
    @extend .animated-background;
  }
}

// Profile Progress Loader

.profile-progress-loader {
  margin-bottom: 14px;
  &__title-placeholder {
    width: 240px;
    height: 10px;
    background-color: $loading-grey;
    @extend .animated-background;
    margin: 0 auto;
    margin-top: 36px;
  }
  .progress-status-container {
    display: flex;
    align-items: center;
    margin-top: 41px;
    margin-left: 4px;
    &__progressbar-placeholder {
      width: 247px;
      height: 12px;
      border-radius: 200px;
      background-color: $loading-grey;
      @extend .animated-background;
      margin-right: 13px;
    }
    &__status-placeholder {
      width: 60px;
      height: 12px;
      background-color: $loading-grey;
      @extend .animated-background;
    }
  }
}

// Profile Progress List Loader
.profile-progress-list-loader-container {
  border-top: solid 0.5px #dedede;
  padding-bottom: 14px;
  .loader-title {
    margin-top: 27px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &__1-placeholder {
      width: 210px;
      height: 10px;
      background-color: $loading-grey;
      @extend .animated-background;
    }
    &__2-placeholder {
      width: 270px;
      height: 10px;
      background-color: $loading-grey;
      @extend .animated-background;
      margin-top: 13px;
    }
  }
  .loader-list {
    margin-top: 30px;
    .loader-list-item {
      height: 62px;
      display: flex;
      align-items: center;
      border-bottom: solid 0.5px #dedede;
      &__icon-placeholder {
        width: 30px;
        height: 30px;
        background-color: $loading-grey;
        @extend .animated-background;
        border-radius: 50px;
        margin-left: 20px;
        margin-right: 15px;
      }
      &__title-placeholder {
        width: 210px;
        height: 10px;
        background-color: $loading-grey;
        @extend .animated-background;
      }
      &__action-placeholder{
        width: 170px;
        height: 10px;
        background-color: $loading-grey;
        @extend .animated-background;
        display: none;
      }
      &:nth-last-child(1){
        border-bottom:0px;
      }
    }
  }
}

@include media-query(md) {

  // Profile Progress Loader
  .profile-progress-loader {
    padding-left:6px;
    margin-bottom:13px !important;
    &__title-placeholder {
      width:230px !important;
      margin:0px !important;
      margin-top:14px !important;
    }
    .progress-status-container {
      margin-left:0px;
      margin-top:34px;
      &__progressbar-placeholder {
        width: 560px !important;
        margin-right: 42px !important;
      }
      &__status-placeholder {}
    }
  }

  // Profile Progress List Loader
.profile-progress-list-loader-container {
  .loader-title {
    flex-flow: row;
    margin-left: 30px;
    margin-top: 25px;
    &__1-placeholder {
      width: 520px !important;
    }
    &__2-placeholder {
      display: none;
    }
  }
  .loader-list {
    .loader-list-item {
      height: 70px !important;
      &__icon-placeholder {
        height: 40px !important;
        width: 40px !important;
        margin-left: 30px !important;
        margin-right: 20px !important;
      }
      &__title-placeholder {
      }
      &__action-placeholder {
        display: inline-block !important;
        margin-left: 221px;
      }
      &:nth-last-child(1){
        border-bottom:0px;
      }
    }
  }
}
}