@import "../../../../styles/variables";

.balance-payment-bank {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
  }//&__body

  &__main-panel {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #ffffff;

      .top-nav {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .back-btn {
          display: flex;
          align-items: center;

          font-size: 13px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          color: map-get($colors, charcoal-grey);

          &:hover {
            background-color: transparent;
          }//&:hover

          &:before {
            content: ' ';
            display: block;
            width: 24px; height: 24px;
            margin-right: 7px;
            background: url('../../../../images/icons/back-blue-new.svg') no-repeat center;
          }//&:before

        }//.back-btn

        .divider {

        }

      }//header-nav

      .notice-top {
        margin-top: 19px;
        border-radius: 3px;
        border: solid 0.5px map-get( $colors, duck-egg-blue );
        background-color: map-get($colors, duck-egg-blue-light);

        ul {
          margin: 15px 0;
          padding-left: 35px;
          padding-right: 15px;

          li {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.62;
            letter-spacing: 0.4px;
            color: map-get($colors, charcoal-grey);
          }//li

          li:nth-child(n+2) {
            margin-top: 15px;
          }//li:nth-child(n+2)

        }//ul

      }//.notice-top

      .bank-destination {
        display: flex;
        flex-direction: column;

        &__title {
          margin-top: 30px;

          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: map-get($colors, charcoal-grey);
        }//&__title

        &__row {
          display: flex;
          flex-direction: column;

          .bank-select {
            position: relative;
            display: flex;
            align-items: center;
            height: 60px;
            margin-top: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 0.5px map-get( $colors, cool-grey );
            transition: none;

            &:hover {
              background-color: transparent;
            }//&:hover

            &__radio-circle {
              width: 26px;
              height: 26px;
              margin-left: 15px;
              border-radius: 13px;
              background: url('../../../../images/icons/radio-disable.svg') no-repeat center;
            }//&__radio-circle

            &__label {
              margin-left: 15px;

              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.5px;
              color: map-get($colors, charcoal-grey);
            }//&__label

            &__spacer {
              flex: 1 1 1px;
            }//&__spacer

            &__icon {
              margin-right: 15px;
              background: transparent no-repeat center;
              background-size: contain;
            }//&__icon

            &.is-selected {
              border: transparent;

              &:before {
                content: ' ';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                display: block;
                border-radius: 5px;
                border: solid 2px map-get( $colors, dark-sky-blue );
                pointer-events: none;
              }//&:before

              .bank-select {

                &__radio-circle {
                  background-image: url('../../../../images/icons/radio-active.svg');
                }//&__radio-circle

              }//.bank-select

            }//&.is-selected

          }//.bank-select

        }//&__row

      }//.bank-destination

      .detail-payment {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        &__title {
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: map-get($colors, charcoal-grey);
        }//&__title

        &__panel {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          background-color: #ffffff;
        }//&__panel

        .biq-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          padding: 0 15px;
          box-sizing: border-box;
          border-style: solid;
          border-width: 0 0.5px;
          border-color: map-get( $colors, gray-87 );
          box-shadow: 0 0.5px 0 0 map-get($colors, gray-87);

          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: map-get($colors, charcoal-grey);

          .label {
            font-weight: 600;
          }//.label

          .value {
            font-weight: 300;
          }//.value

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top: solid 0.5px map-get( $colors, gray-87 );
          }//&.is-first

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: map-get($colors, pale-grey-two);
            border-top: solid 0.5px map-get( $colors, gray-87 );
            border-bottom: solid 0.5px map-get( $colors, gray-87 );
          }//&--total

        }//&__row

      }//.detail-payment

      .email-notification {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        &__title {
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: map-get($colors, charcoal-grey);
        }//&__title

        &__notice {
          margin-top: 5px;

          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: 0.4px;
          color: map-get($colors, charcoal-grey);
        }//&__notice

        &__input {
          height: 50px;
          margin-top: 15px;
          padding: 0 20px;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 0.5px map-get( $colors, cool-grey );

          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: map-get($colors, charcoal-grey);
        }//&__input

      }//.email-notification

      .action {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        margin-bottom: 100px;

        .submit-btn {
          position: relative;
          flex: 1 1 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          border-radius: 3px;
          background-color: map-get($colors, dark-mint);

          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: #ffffff;
        }//.submit-btn

      }//.action

  }//&__main-panel

}//.balance-payment-bank

@import "./BalancePaymentBank-md-min";
