@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.l-dashboard{

  &__inner {
    flex: 1 1 1px;
    flex-direction: column;
    align-items: normal;
  }//&__inner

  .side-nav-main {
    flex: 1 1 1px;
  }//side-nav-main

  &__panel{
    display: none;
  }

}//.l-dashboard

@media screen and ( min-width: map-get( $bp-mobile-first, md ) ){
  .l-dashboard {

    &__inner {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }//&__inner

    .side-nav-main {
      flex: none;
    }//.side-nav-main

    &__panel {
      flex: 1 1 auto;
      display: block;
      margin-left:29px;
    }

  }//.l-dashboard

}//@media