.dashboard-layout-container__right {
  display: none; }

.show-profile {
  display: block; }

.show-dashboard {
  display: block; }

.hide-profile {
  display: none; }

.hide-dashboard {
  display: none; }

@media screen and (min-width: 768px) {
  .dashboard-layout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px; }
    .dashboard-layout-container__left {
      display: block;
      width: 247px; }
    .dashboard-layout-container__right {
      display: block;
      width: 723px;
      margin-left: 29px; }
  .dashboard-layout-container-mobile {
    display: none; } }
