@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.dashboard-layout-container{
  // display: none;
}

// .profile-container{
//   width:0px;
//   transition: width 2s;
// }


// .profile-container{
//   transition: transform 200ms ease-in-out;
// }

// .dashboard-container{
//   transition: transform 200ms ease-in-out;
// }

// .show-profile{
//   transform: translate(0%,0%)
// }

// .hide-profile{
//   transform: translate(-100%,0%)
// }

// .show-dashboard{
//   transform: translate(0%,0%)
// }

// .hide-dashboard{
//   transform: translate(100%,0%)
// }

.dashboard-layout-container{
  &__left{

  }
  &__right{
    display: none;
  }
}

.show-profile {
  display: block;
}

.show-dashboard {
  display: block;
}

.hide-profile {
  display: none;
}

.hide-dashboard {
  display: none;
}

@include media-query(md){
  .dashboard-layout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    &__left {
      display: block;
      width: 247px;
    }
    &__right {
      display: block;
      width: 723px;
      margin-left:29px;
    }
  }

  .dashboard-layout-container-mobile{
    display: none;
  }
}