@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

.dashboard-layout-container{
  display: none;
}

@include media-query(md){
  .dashboard-layout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .dashboard-layout-container__left {
      width: 247px;
    }
    .dashboard-layout-container__right {
      width: 723px;
      margin-left:29px;
    }
  }

  .dashboard-layout-container-mobile{
    display: none;
  }
}