.dashboard-layout-container {
  display: none; }

.profile-container {
  transition: transform 200ms ease-in-out; }

.dashboard-container {
  transition: transform 200ms ease-in-out; }

.show-profile {
  transform: translate(0%, 0%); }

.hide-profile {
  transform: translate(-100%, 0%); }

.show-dashboard {
  transform: translate(0%, 0%); }

.hide-dashboard {
  transform: translate(100%, 0%); }

@media screen and (min-width: 768px) {
  .dashboard-layout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px; }
    .dashboard-layout-container .dashboard-layout-container__left {
      width: 247px; }
    .dashboard-layout-container .dashboard-layout-container__right {
      width: 723px;
      margin-left: 29px; }
  .dashboard-layout-container-mobile {
    display: none; } }
