.drop-photo-upload-container {
  position: relative;
  margin: 0 10px;
  padding: 30px 25px 20px 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 2px;
  pointer-events: auto; }
  .drop-photo-upload-container .drop-photo-upload-header__title {
    color: #404852;
    font-size: 18px;
    font-family: "NunitoSans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center; }
  .drop-photo-upload-container .drop-photo-upload-header__description {
    color: #404852;
    font-size: 14px;
    font-family: "NunitoSans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px; }
  .drop-photo-upload-container .drop-zone-area-container .drop-zone {
    height: 170px;
    border-radius: 2px;
    background-color: #fbfbfb;
    border: dashed 2px #dedede;
    cursor: pointer; }
    .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area {
      text-align: center;
      margin-top: 28px; }
      .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area .upload-icon-desktop {
        display: none; }
      .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area__icon {
        margin-bottom: 24px; }
      .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area__description {
        width: 200px;
        color: #bfc6c8;
        font-size: 13px;
        font-family: "NunitoSans", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin: 0 auto; }
  .drop-photo-upload-container .change-image-button-container .change-image-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #ffffff;
    color: #404852;
    font-size: 14px;
    font-family: "NunitoSans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-top: 10px; }
  .drop-photo-upload-container .change-image-button-container .change-image-input {
    display: none; }

@media screen and (min-width: 768px) {
  .drop-photo-upload-container {
    width: 550px;
    margin: 0;
    padding: 50px 60px 40px 60px; }
    .drop-photo-upload-container .drop-photo-upload-header {
      width: 380px;
      margin: 0 auto; }
      .drop-photo-upload-container .drop-photo-upload-header__title {
        color: #404852;
        font-size: 20px;
        font-family: "NunitoSans", sans-serif; }
      .drop-photo-upload-container .drop-photo-upload-header__description {
        width: 380px !important;
        margin-top: 15px !important;
        margin-bottom: 40px !important; }
    .drop-photo-upload-container .drop-zone-area-container .drop-zone {
      height: 248px !important; }
      .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area {
        margin-top: 49px !important; }
        .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area .upload-icon-mobile {
          display: none !important; }
        .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area .upload-icon-desktop {
          display: inline-block !important; }
        .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area__icon {
          margin-bottom: 20px !important; }
        .drop-photo-upload-container .drop-zone-area-container .drop-zone .drop-zone-area__description {
          width: 240px !important; }
      .drop-photo-upload-container .drop-zone-area-container .drop-zone:hover {
        border: dashed 2px #2196f3; }
    .drop-photo-upload-container .drop-zone-area-container .drop-zone-active {
      border: dashed 2px #2196f3; } }
