@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
.drop-photo-upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding: 30px 25px 0 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 2px;
  pointer-events: auto;

  .drop-photo-upload-header {

    &__title {
      margin: 0 70px;
      font-size: 18px;
      color: $charcoal-grey;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
    }

    &__description {
      margin-top: 20px;

      color: $charcoal-grey;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }//.drop-photo-upload-header

  .drop-zone-area-container {
    margin-top: 25px;

    .drop-zone {
      height: 170px;
      border-radius: 2px;
      box-sizing: border-box;
      background-color: #fbfbfb;
      border: dashed 2px #dedede;
      cursor: pointer;
      .drop-zone-area {
        text-align: center;
        margin-top: 28px;
        .upload-icon-desktop {
          display: none;
        }
        &__icon {
          margin-bottom: 24px;
        }
        &__description {
          width: 200px;
          @include text-setup(#bfc6c8, 13px);
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }//.drop-zone-area-container

  .image-actions-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    .upload-photo-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      margin-top: 50px;
      opacity: 0.5;
      border-radius: 2px;
      background-color: #2196f3;

      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: $white;
      text-transform: none;
    }//.upload-photo-btn

  }//.image-actions-container

  .change-image-button-container{
    .change-image-button{
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      background-color: $white;
      @include text-setup($charcoal-grey, 14px);
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .change-image-input{
      display: none;
    }

  }//.change-image-button-container

}//.drop-photo-upload-container

@include media-query(md) {
  .drop-photo-upload-container {
    width: 550px;
    margin: 0;
    padding: 50px 60px 40px 60px;
    .drop-photo-upload-header {
        width: 380px;
        margin: 0 auto;
      &__title {
        @include text-setup($charcoal-grey, 20px);
      }
      &__description{
        width: 380px !important;
        margin-top: 15px !important;
        margin-bottom: 40px !important;
      }
    }
    .drop-zone-area-container{
      .drop-zone{
        height: 248px !important;
        .drop-zone-area{
          margin-top:49px !important;
          .upload-icon-mobile{
            display: none !important;
          }
          .upload-icon-desktop{
            display: inline-block !important;
          }
          &__icon{
            margin-bottom:20px !important;
          }

          &__description{
            width:240px !important;
          }
        }
        &:hover{
          border: dashed 2px #2196f3;
        }
      }
      .drop-zone-active{
        border: dashed 2px #2196f3;
      }
    }
  }
}