@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';

#profile-card {
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-flow: column;
    .profile-settings-icon{
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      margin-right: 6px;
    }
    .divider{
      width: 165px;
      border: solid 0.5px #dedede;
    }
  }
}

@include media-query(sm) {
  .profile-settings-icon {
    margin-right: 0px !important;
  }
}

.profile-info {
  text-align: center;
  margin-top: 20px;
  .profile-info__img {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50px
    }
  }
  .profile-info__name {
    margin-top: 15px;
    @include text-setup($charcoal-grey, 16px, $font-family);
    font-weight: 600;
    letter-spacing: 0.6px;
  }
  .profile-info__email {
    margin-top: 5px;
    @include text-setup($charcoal-grey, 13px, $font-family);
    letter-spacing: 0.6px;
  }
  .divider {
    margin-top: 15px;
  }
}
.balance-info {
  text-align: center;
  margin-top: 15px;
  .balance-info__text {
    @include text-setup($steel-grey, 14px, $font-family);
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  .balance-info__amount {
    @include text-setup($charcoal-grey, 22px, $font-family);
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 3px;
  }
}

.profile-buttons-container {
  margin-top:20px;
}

@include media-query(md){
  .profile-buttons-container{
    display: flex !important;
    align-items: center;
  }
  .dot-desktop{
    width: 6px;
    height: 6px;
    background-color: $dark-sky-blue;
    border-radius: 20px;
  }
}

.profile-nav-btn{
  display: flex;
  align-items: center;
  padding:5px 0px;
  .profile-nav-btn__icon{
    padding-left:4px;
  }
  .profile-nav-btn__text{
    font-weight: bold;
    @include text-setup($steel-grey,15px,$font-family);
    letter-spacing: 0.5px;
    margin-top: 2px;
  }
  .profile-nav-btn__navicon{
    position: absolute;
    right:15px;
  }
}