@import "../../../../styles/variables";
.password-set-form {
  display: flex;
  flex-direction: column;
  align-items: normal;

  &.is-visible {
    max-height: 700px;
  }//&.is-visible

  > * {
    flex: none;
    margin-bottom: 4px;
  }//> *

}//.password-set-form
