@import "../../../../styles/variables";
.password-set-form {
  display: flex;
  flex-direction: column;
  align-items: normal;

  &.is-visible {
    max-height: 700px;
    padding: 15px 30px 25px;
  }//&.is-visible

  .w-password-field {
    flex: none;
    margin-bottom: 4px;
    &.is-last {
      margin-bottom: 0;
    }//&.is-last
  }//.w-password-field

  .otp-btn {
    display: flex;
    align-items: center;
    width: 104px;
    height: 28px;
    margin-top: 15px;
    border-radius: 2px;
    border: 1px solid map-get( $colors, dark-mint );

    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: map-get($colors, dark-mint);
  }//.otp-btn

  .otp-input {
    margin-top: 15px;
  }//.otp-input

  .footer-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .submit-btn {
      min-width: 0;
      width: 130px;
      height: 45px;
      opacity: 0.6;
      border-radius: 3px;
      box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
      background-color: map-get($colors, dark-mint);

      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;

      &.is-ready {
        opacity: 1;
      }//&.is-ready

    }//.submit-btn

  }//.footer-action

}//.password-set-form
