@import "../../../../../styles/variables";

.email-verification-dialog {
  position: relative;
  flex: 1 1 1px;
  min-height: 50px;
  margin: 0 10px;
  padding: 0 20px;
  border-radius: 2px;
  background-color: #ffffff;
  pointer-events: auto;

  .form-input {
    display: flex;
    flex-direction: column;
    margin: 70px 0 30px;

    .email-input {
      flex: 1 1 auto;
      margin: 0;

      label {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: map-get($colors, steel-grey);

        transform: translate(0, 1.5px) scale(1);
      }//label

      input[type="text"]:disabled {
        padding: 5px 0;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: map-get($colors, charcoal-grey);
      }//input[type="text"]:disabled

      [class*="MuiInput-formControl"] {
        &:before {
          border-bottom: 1px solid map-get( $colors, very-light-pink ) !important;
        }//&:before
      }//[class*="MuiInput-formControl"]

      [class*="MuiFormHelperText-disabled-"] {
        margin-top: 5px;

        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: map-get($colors, steel-grey);
      }//[class*="MuiFormHelperText-disabled-"]

    }//.email-input

    .send-btn {
      height: 50px;
      margin-top: 30px;
      border-radius: 3px;
      box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
      background-color: map-get($colors, dark-mint);

      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
    }//.send-btn

  }//.form-input


  .form-submitted {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 56px;
      height: 48px;
      margin-top: 70px;
      background: url('../../../../../images/icons/kirim-email.svg') no-repeat center;
      background-size: contain;
    }//.icon

    .title {
      margin: 30px 10px 0;

      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      text-align: center;
      color: map-get($colors, charcoal-grey);
    }//.title

    .notice {
      margin: 9px 10px 0;

      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.77;
      letter-spacing: 0.2px;
      text-align: center;
      color: map-get($colors, steel-grey);
    }//.notice

    .resend-label {
      margin-top: 35px;

      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: 0.2px;
      text-align: center;
      color: map-get($colors, steel-grey);
    }//.resend-label

    .resend-btn {
      width: 201px;
      height: 50px;
      margin: 14px 0 54px;
      border-radius: 2px;
      background-color: rgba( #000000, 0.02 );

      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: map-get($colors, dark-sky-blue);
    }//.resend-btn

  }//.form-submitted


}//.email-verification-dialog