@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/_variables.scss';
.detail-profile-container {
  .detail-profile-header {
    padding: 20px 15px 10px 15px;
    &__title {
      display: none;
    }
  }
  .detail-profile-list {
    .detail-profile-list-item {
      border-top: solid 0.5px #dedede;
      &:nth-child(1) {
        border-top: 0px;
      }
    }
  }
}

@include media-query(md) {
  .detail-profile-container {
    .detail-profile-header {
      padding: 21px 20px 20px 20px;
      &__title {
        @include text-setup(#404852, 16px, $font-family);
        display: block;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        margin-left: 10px;
      }
    }
  }
}